.logo{
  max-width: 100%;
  width: 700px;
  padding-right: 0;
  height: 122px;

  margin: 0 auto;
  margin-bottom: 20px;

}
.column{
  padding: 0;
}
.logo-col{
  width:100%;
  border: 1px solid black;
  table-layout:fixed;
  height: 700px;


}

.each-logo{
  height: 140px;
  text-align: center;
  background-color: #dfeffe;
  border: 1px solid black;

}
.img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

}
